.alert
  display: block
  padding: $space-vertical-base $space-m
  margin: $space-vertical-m auto
  vendorize(border-radius, $border-radius-base)

  &.success
    background-color: $green-base
    color: $white
