.button
  height: $height-base
  width: 140px
  border: 0
  background-color: $blue-light
  color: $white
  font-weight: $font-bold
  cursor: pointer
  vendorize(border-radius, $border-radius-base)

  &.danger
    background-color: $red-base

  &.success
    background-color: $green-base

.buttons-group
  display: table
  margin: px-to-rem(30px) auto 0
  background-color: $white

  button
    @extend .border
    
    height: 40px
    width: 40px
    background-color: transparent
    color: inherit

    &.selected
      position: relative
      border-color: $blue-pool 
      background-color: $blue-pool-light!important
      z-index: 10

    &:hover
      background-color: $yellow-light

    &:first-of-type
      vendorize(border-top-left-radius, $border-radius-base)
      vendorize(border-bottom-left-radius, $border-radius-base)

    &:last-of-type
      vendorize(border-top-right-radius, $border-radius-base)
      vendorize(border-bottom-right-radius, $border-radius-base)

    + button
      margin-left: -1px

button
  &:disabled
    background: $gray-base!important
    color: $white
    cursor: no-drop

footer
  button
    + button
      margin-left: $space-base

table
  .actions
    button
      height: auto;
      width: auto
      background-color: transparent!important;
      color: $blue-vivid 

      &.danger
        color: $red-base
        