figure
  height: px-to-rem(300px)
  width: 300px
  margin-left: $space-g
  background-position: center
  background-size: cover
  overflow: hidden
  vendorize(border-radius, 50%)

  img
    width: 100%