input
select
  @extend .border
  
  position: relative
  display: block
  height: px-to-rem(40px)
  width: 100%
  padding-left: $space-base
  background-color: $white
  vendorize(border-radius, $border-radius-base)

  &[type=number]
    vendorize(appearance, textfield)

    &::-webkit-inner-spin-button
      vendorize(appearance, none)

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder
    @extend .placeholder

select
  vendorize(appearance, none)

.input-box
  position: relative
  width: 220px

  .addon
    @extend .border

    position: absolute;
    top: 0
    right: 0
    height: px-to-rem(40px)
    padding: 0 $space-base;
    vendorize(border-top-right-radius, $border-radius-base)
    vendorize(border-bottom-right-radius, $border-radius-base)
    background-color: $gray-light
    line-height: 2.8em;

.select-box
  position: relative

  &:after
    $size-default = 30px;

    position: absolute;
    display: block;
    top: $space-vertical-p;
    right: $space-base;
    height: px-to-rem($size-default);
    width: $size-default;
    background: transparent url(./assets/img/arrow-down.png) no-repeat
    background-size: $size-default;
    content: ''

[type="checkbox"]:not(:checked)
[type="checkbox"]:checked
  position: absolute
  left: -9999px

[type="checkbox"]:not(:checked)
[type="checkbox"]:checked
  + label
    position: relative
    padding-left: $space-m
    cursor: pointer

[type="checkbox"]:not(:checked)
[type="checkbox"]:checked
  + label
      &:before
        @extend .border

        position: absolute
        top: px-to-rem(2px)
        left: 0
        height: px-to-rem(18px)
        width: 18px
        background: $white
        vendorize(border-radius, $border-radius-base)
        content: ''

[type="checkbox"]:not(:checked)
[type="checkbox"]:checked
  + label
      &:after
        content: '✔'
        position: absolute
        left: $space-p
        font-size: px-to-rem(16px)
        transition: all .2s

[type="checkbox"]:not(:checked)
  + label
      &:after
        opacity: 0
        transform: scale(0)

[type="checkbox"]:checked
  + label
      &:after
        opacity: 1
        transform: scale(1)
