$font-family = 'Ek Mukta', sans-serif

$font-thin  = 300
$font-base  = 400
$font-bold  = 600
$font-ultra = 700

$white           = #ffffff
$gray-base       = #c9d3dd
$gray-light      = $gray-base + 80%
$blue-base       = #2a6392
$blue-vivid      = #2687e9
$blue-light      = $blue-vivid + 30%
$blue-pool       = #8bc8f6
$blue-pool-light = $blue-pool + 70%
$green-base      = #4aba58
$red-base        = #a94557
$yellow-light    = #fffaeb

$border-radius-base = 5px

$height-base = px-to-rem(40px)

// Landscape Spacing
$space-base = 10px
$space-p    = $space-base / 2
$space-m    = $space-base * 2
$space-g    = $space-base * 3
$space-gg   = $space-base * 4

// Portrait Spacing
$space-vertical-base = px-to-rem(unit($space-base, 'px'))
$space-vertical-p    = px-to-rem(unit($space-p, 'px'))
$space-vertical-m    = px-to-rem(unit($space-m, 'px'))
$space-vertical-g    = px-to-rem(unit($space-g, 'px'))
$space-vertical-gg   = px-to-rem(unit($space-gg, 'px'))
