<div class="table">
  <table>
    <thead>
      <tr>
        <th><input id="inputAll" type="checkbox" [(ngModel)]="checkAll" (change)="toggleAllChecks()"><label for="inputAll"></label></th>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Foto</th>
        <th>Combustível</th>
        <th class="right">Valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars | filterCar: textFilter | slice: indexSlice():indexSlice() + 5; let i = index;" [ngClass]="{ 'selected': car.check }">
        <td>
          <input [checked]="car.check" id="check-{{ i }}" type="checkbox" (change)="car.check = !car.check">
          <label for="check-{{ i }}"></label>
        </td>
        <td>{{ car.placa | uppercase }}</td>
        <td>{{ car.modelo }}</td>
        <td>{{ car.marca }}</td>
        <td>
          <a [href]="car.imagem" *ngIf="car.imagem; else noImage" target="_blank">Imagem</a>
          <ng-template #noImage>
            <span>Sem foto</span>
          </ng-template>
        </td>
        <td>{{ car.combustivel }}</td>
        <td class="right">{{ car.valor | numberBr }}</td>
        <td class="actions right">
          <button class="button" routerLink="/editar/{{ i }}"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></button>
          <button class="button danger" (click)="sendIndex(i)"><i class="fa fa-2x fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<footer>
  <nav class="buttons-group">
    <button (click)="prevPage()" [disabled]="firstPage()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>

    <button *ngFor="let p of pages" [ngClass]="{ 'selected': page === p }" (click)="currentPage(p)">{{ p }}</button>

    <button (click)="nextPage()" [disabled]="lastPage()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
  </nav>
</footer>
