body
  background-color: #f1f4f9
  color: #2a6392
  font-size: 13px
  font-family: 'Ek Mukta', sans-serif

*
  box-sizing: border-box

textarea:focus
input:focus
select:focus
a:focus
button:focus
  box-shadow: 0 0 0 0
  outline: 0

a
  color: #2687e9
