.input
  position: relative
  display: table
  width: 220px
  float: right

  .addon
    position: absolute;
    top: 0
    right: 0
    height: 40px;
    padding: 0 12px;
    border: 1px solid #c9d3dd
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f1f4f9
    line-height: 2.7em;

input
  height: 40px
  width: 100%
  padding-left: 10px
  border: 1px solid #c9d3dd
  border-radius: 5px

&::-webkit-input-placeholder
  color: #b1b6bd
  opacity: 1
&:-moz-placeholder
  color: #b1b6bd
  opacity: 1
&::-moz-placeholder
  color: #b1b6bd
  opacity: 1
&:-ms-input-placeholder
  color: #b1b6bd
  opacity: 1
&::-ms-input-placeholder
  color: #b1b6bd
  opacity: 1
