form
  dt
    + dd
      margin: 5px 0 10px
  
  footer
    margin-top: 20px

.input
  position: relative
  width: 220px

  .addon
    position: absolute;
    top: 0
    right: 0
    height: 40px;
    padding: 0 12px;
    border: 1px solid #c9d3dd
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f1f4f9
    line-height: 2.8em;

input
  height: 40px
  width: 100%
  padding-left: 10px
  border: 1px solid #c9d3dd
  border-radius: 5px

&::-webkit-input-placeholder
  color: #b1b6bd
  opacity: 1
&:-moz-placeholder
  color: #b1b6bd
  opacity: 1
&::-moz-placeholder
  color: #b1b6bd
  opacity: 1
&:-ms-input-placeholder
  color: #b1b6bd
  opacity: 1
&::-ms-input-placeholder
  color: #b1b6bd
  opacity: 1

.select
  position: relative

  &:after
    content: ''
    background: transparent url(../img/arrow-down.png) no-repeat
    background-size: 30px;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;

  select
    position: relative
    display: block
    height: 40px
    width: 100%
    -webkit-appearance:none
    -moz-appearance:none
    appearance:none
    background: #fff
    border: 1px solid #c9d3dd
    padding: 10px
    border-radius: 5px
    color: #2a6392
