.content
  display: flex

figure
  height: 300px
  width: 300px
  margin-left: 30px
  border-radius: 50%
  background-position: center
  background-size: cover
  overflow: hidden

form
  flex-grow: 4

img
  width: 100%
