body
  background-color: #f1f4f9
  color: #2a6392
  font-size: 13px
  font-family: 'Ek Mukta', sans-serif

*
  box-sizing: border-box

.container
  width: 960px
  padding: 0 10px
  margin: 0 auto

textarea:focus
input:focus
select:focus
a:focus
button:focus
  box-shadow: 0 0 0 0
  outline: 0

a
  color: #2687e9

.hide
  display: none
  opacity: 0

.page-title
  margin: 20px 0

  h1
    font-size: 2rem

    + hr
      height: 1px
      border: 0
      background-color: #c9d3dd
