/* You can add global styles to this file, and also import other style files */
@import './assets/styl/reset'
@import './assets/styl/all'

@import './assets/styl/inputs'
@import './assets/styl/buttons'